#sectionone{
	color:white;
	background-color: blue;
	height: 100px;
	width: 100px;
}
#sectiontwo{
	color: white;
	background-color: blue;
	height: 100px;
	width: 100px;
}
#sectionthree{
	color: white;
	background-color: blue;
	height: 100px;
	width: 100px;
}
#sectionfour{
	color: yellow;
	background-color: green;
	height: 100px;
	width: 100px;
}
#sectionfive{
	color: white;
	background-color: blue;
	height: 100px;
	width: 100px;
}
#sectionsix{
	color: yellow;
	background-color: green;
	height: 100px;
	width: 100px;
}
#cssimage{
	height: 100px;
	width: 100;
}